Source: $name
Section: unknown
Priority: extra
Maintainer: $author <$email>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: $homepage

Package: $name
Architecture: any
Depends: \${shlibs:Depends}, \${misc:Depends}${depends ? ', ' : ''}${depends.join(', ')}
Description: $name
 $description
